.card {
    font-size: 12px;
    margin-top: 40px;
    background-color: #343434;
    border-radius: 16px;
}

.card img {
    border-radius:  16px 16px 0px 0px;
}

.card-title {
    color: #FFCD00;
}

.card-text {
    color: #A5A5A5;
}

.btn {
    width: 98px;
    height: 20px;
    font-size: 10px;
    font-weight: 900;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 205, 0, 0.4);
    border-radius: 30px;

}
