<section>
    <div class="contentBx">
        <h2>Bem Vindo ao Hero</h2>
        <p>Há um super-herói em todos nós, só precisamos da coragem para colocar a capa.</p>
    </div>
    <div class="imgBx">
        <img src="../../../assets/images/ironman.png" alt="" srcset="">
    </div>
        <ul class="sci">
            <li><a href="http://facebook.com/marvel" target="_blank"><img src="../../../assets/images/facebook.png" alt="" srcset=""></a></li>
            <li><a href="https://twitter.com/Marvel" target="_blank"><img src="../../../assets/images/twitter.png" alt="" srcset=""></a></li>
            <li><a href="https://instagram.com/marvel" target="_blank"><img src="../../../assets/images/instagram.png" alt="" srcset=""></a></li>
        </ul>


</section>    
    
    


