* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Marvel;
}

section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
    padding: 0px 100px;
}

section .contentBx {
    position: relative;
    max-width: 600px;
    z-index: 1000px;
}

section .contentBx h2 {
    font-size: 80px;
    font-weight: bold;
    color: #FFCD00;
    text-transform: uppercase;
}

section .contentBx p {
    font-size: 18px;
    color: #FFCD00;
}

section .imgBx img {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin-top: 110px;
    z-index: 1;
}
li img {
    width: 30px;
    height: 30px;
}
section .sci {
    
    position: absolute;
    bottom: 40px;
    left: 100px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .sci li {
    list-style: none;
}

section .sci li a {
    display: block;
    margin-right: 20px;
    transform: scale(0.8);
}

@media (max-width: 666px) {
    section {
        flex-direction: column;
        padding-top: 100px;
        height: auto;
    }

    section .contentBx {
        max-width: 100%;
    }

    section .imgBx img {
        margin-top: 0px;
    }

    section .sci {
        top: 120vh;
        right: 90vh;
    }
}

@media (max-width: 580px) {
    section {
        flex-direction: column;
        padding-top: 150px 20px 50px; 
        height: auto;
    }

    section .sci {
        top: 110vh;
        right: 80vh;
    }
}

@media (max-width: 450px) {
    section .sci {
        top: 150vh;
        left: 40vh;
    }
}

@media (max-width: 375px) {
    section .sci {
        top: 150vh;
        left: 33vh;
    }
}